html {
    background-color: #dbdbdb;
}
body {
    height: 840px;
    width: 600px;
    display: block;
    margin: 7px;
    
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    
    background-color: #f7f7f7;
}
ul li {
    list-style-type: square;
}
.text {
    padding: 27px;
    
    color: #00008b;
    font-family: "Arial", sans-serif;
}
.titre {
    text-align: center;
}
.underline {
    text-decoration: underline;   
}